[Desktop Entry]
# The type as listed above
Type=Application
# The name of the application
Name=Hangouts
# The executable of the application, possibly with arguments.
Exec=chrome --app=https://hangouts.google.com
