[Desktop Entry]
# The type as listed above
Type=Application
# The name of the application
Name=Spotify
# The executable of the application, possibly with arguments.
Exec=chrome --app=https://open.spotify.com
