[Desktop Entry]
# The type as listed above
Type=Application
# The name of the application
Name=Touchpad Toggle
# The executable of the application, possibly with arguments.
Exec=/home/yuri/DotFiles/bin.s/touchpad_toggle
