[Desktop Entry]
# The type as listed above
Type=Application
# The name of the application
Name=Audio GUI
# The executable of the application, possibly with arguments.
Exec=pavucontrol