[Desktop Entry]
# The type as listed above
Type=Application
# The name of the application
Name=Discord
# The executable of the application, possibly with arguments.
Exec=/usr/bin/discord
