[Desktop Entry]
# The type as listed above
Type=Application
# The name of the application
Name=Jira
# The executable of the application, possibly with arguments.
Exec=chrome --app=https://dafiti.jira.com/secure/RapidBoard.jspa?rapidView=1055

