[Desktop Entry]
# The type as listed above
Type=Application
# The name of the application
Name=Slack
# The executable of the application, possibly with arguments.
Exec=google-chrome-beta --app=https://app.slack.com/client/TBHMCN197/CBJ7U91NW
