[Desktop Entry]
# The type as listed above
Type=Application
# The name of the application
Name=Toggl
# The executable of the application, possibly with arguments.
Exec=google-chrome-beta --app=https://toggl.com/app/timer
